.row.content {height: 1500px}
    

    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }


html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

.header {
  font-family: Brush Script MT;
  font-size: 70;
  color: black;
}

.login_div
{
	background: rgba(255,255,255,0.8);float: none;border-radius: 15px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

#blue-box {
  padding: 10px;
}